#Ignoring cache directory
Lab01_7Seg_LED_Ctrller/Lab01_7Seg_LED_Ctrller.cache/
Lab02_Serial_Data_Transmitter/Lab02_Serial_Data_Transmitter.cache/
lab03_manchestor_transmitter/lab03_manchestor_transmitter.cahce/

#Ignoring hw directory
Lab01_7Seg_LED_Ctrller/Lab01_7Seg_LED_Ctrller.hw/
Lab02_Serial_Data_Transmitter/Lab02_Serial_Data_Transmitter.hw/
lab03_manchestor_transmitter/lab03_manchestor_transmitter.hw/

#Ignoring ip_user_files directory
Lab01_7Seg_LED_Ctrller/Lab01_7Seg_LED_Ctrller.ip_user_files/
Lab02_Serial_Data_Transmitter/Lab02_Serial_Data_Transmitter.ip_user_files/
lab03_manchestor_transmitter/lab03_manchestor_transmitter.ip_user_files/

#Ignoring runs directory
Lab01_7Seg_LED_Ctrller/Lab01_7Seg_LED_Ctrller.runs/
Lab02_Serial_Data_Transmitter/Lab02_Serial_Data_Transmitter.runs/
lab03_manchestor_transmitter/lab03_manchestor_transmitter.runs/

#Ignoring sim directory
Lab01_7Seg_LED_Ctrller/Lab01_7Seg_LED_Ctrller.sim/
Lab02_Serial_Data_Transmitter/Lab02_Serial_Data_Transmitter.sim/
lab03_manchestor_transmitter/lab03_manchestor_transmitter.sim/

#Ignoring the Vivado Project File
Lab01_7Seg_LED_Ctrller/.xpr
Lab02_Serial_Data_Transmitter/.xpr
lab03_manchestor_transmitter/.xpr
